/*@import './base.css';*/

#app {
    background-color: #ebebeb;
    height: 955px;
}
.custom-card {
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    box-shadow: #181818;
    background-color: white;
}

.custom-card-2 {
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}

* {
    font-family: Arial, serif;
}
/*#app {*/
/*  margin: 0 auto;*/
/*  padding: 2rem;*/

/*  font-weight: normal;*/
/*}*/

/*a,*/
/*.green {*/
/*  text-decoration: none;*/
/*  color: hsla(160, 100%, 37%, 1);*/
/*  transition: 0.4s;*/
/*}*/

/*@media (hover: hover) {*/
/*  a:hover {*/
/*    background-color: hsla(160, 100%, 37%, 0.2);*/
/*  }*/
/*}*/

/*@media (min-width: 1024px) {*/
/*  body {*/
/*    display: flex;*/
/*    place-items: center;*/
/*  }*/

/*  #app {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    padding: 0 2rem;*/
/*  }*/
/*}*/
